.toolBar {
  background-color: rgb(0, 0, 50);
}

.headerBanner {
  margin: auto;
  height: inherit;
  position: relative;
  justify-content: center;
  align-items: center;
  left: 60px;
}

.navMenu {
  border-color: rgb(250, 144, 0);
  border-width: 1px;
  color: rgb(250, 144, 0);
}

.menuButton {
  position: absolute;
  padding-left: 0.5%;
  justify-content: center;
  align-items: center;
}

.loginButton {
  color: slategrey;
  position: absolute;
  right: 0%;
  justify-content: center;
  align-items: center;
  padding-right: 1%;
}
